google-genai>=1.51.0
lerobot[feetech]>=0.4.1
mujoco>=3.3.7
numpy>=2.2.6
opencv_python>=4.12.0.88
opencv_python_headless>=4.12.0.88
Pillow>=12.0.0
placo>=0.9.16
protobuf>=6.33.1
Requests>=2.32.5
scipy>=1.15.3
urchin>=0.0.30
